.notifications
  - @title= '未読通知一覧'
  %h1= @title

  .container
    - @notifications.each do |notification|
      %div
        %h4= link_to notification.content, notification.reference_url
        %span= button_to '既読にする', notification_path(notification), {method: :put, params: {"notification[is_checked]" => "true"}, class: 'btn btn-default btn-sm'}
  

