span.nothing {
  color: gray;
}

.mypage {
  span.label {
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.login-form {
  .field input:not([type="checkbox"]) {
    width: 200px;
  }
}
